@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100vh;
  background: #FFCB70;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
