.gridContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  background: #fcb900;
}

.gridMap {
  grid-column: 1;
  grid-row: 1 / 1;
  border-width: 0.0625rem;
  border-color: #6e7578;
}
.gridChart {
  grid-column: 2;
  grid-row: 1 / 2;
  border-width: 0.0625rem;
  border-color: #6e7578;
}
.gridTable {
  grid-column: 1 / 2;
  grid-row: 2;
  border-width: 0.0625rem;
  border-color: #6e7578;
}